.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.navHeader h2{
    color: white;
}

.landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPageContainer nav h2 {
    font-size: 1.8rem;
    font-weight: 500;
}
.landingPageContainer nav .navlist {
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
    
}
.landingMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  padding: 0 3rem;
  white-space: nowrap;
}

.landingMainContainer > div:first-child {
  width: 50%;
  text-align: left;
}

.landingMainContainer > div:first-child div[role='button'] {
  background: #D97500;
 width: fit-content;
 padding: 1rem;
 border-radius: 20px;
 margin-top: 1.9rem;
}
.landingMainContainer > div:first-child div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:last-child {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.landingMainContainer img {
  width: 450px;
  height: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

